<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
    {{> login-modal }}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">3 SQUARES!</h1>
                        <h2 style="margin-bottom:100px;">Eliminating Food Waste &<br>Helping Those In Need.</h2>
                        {{!-- <h3><a class="page-scroll" data-toggle="modal" data-target="#login-modal">Sign Up</a> To Join
                            Our Team</h3> --}}
                        {{!-- <ul class="positives_list">
                            <li>Everyone is capable of helping.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Onsect etur adipiscing elit. Sed non dui.</li>
                        </ul> --}}
                        </ul>
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p style="color:black;">Nullam posuere orci mauris, in lacinia ante porttitor eu. Sed mauris nulla,
                    hendrerit eget libero eget, imperdiet laoreet elit. Praesent erat metus, porta sed tristique ac,
                    viverra ac odio. Mauris euismod ante arcu, vitae condimentum nisl tempus vel. Sed ac mi mauris.
                    Maecenas a aliquam ante. In accumsan facilisis vulputate. Maecenas et efficitur augue. Nam
                    pellentesque condimentum orci et pulvinar. Cras rhoncus enim in lectus scelerisque, in rhoncus
                    mauris facilisis.</p>
            </div>
        </div>

    </section>


    <!-- 3 Buttons Image Section -->
    <section id="3buttons" class="content-section text-center no-padding" style="margin-top:30px;margin-bottom:10px;">
        <div class="row">
            <div class="col-lg-12">
                <a href="/users/signup">
                    <img src="assets/img/users.png" width="33.3%" alt="" style="float:left"></a>
                <a href="/users/vendorregistration"><img src="assets/img/vendors.png" width="33.3%" alt=""></a>
                <a href="/users/distregistration"><img src="assets/img/distributors.png" width="33.3%" alt=""
                        style="float:right"></a>
            </div>
        </div>
    </section>


    <!-- Partners Section -->
    <section id="3buttons" class="container content-section text-center no-padding"
        style="margin-top:20px;margin-bottom:20px;">
        <div class="row">
            <div class="col-lg-12">
                <p style="color:blue;">* * * * * * * * *Partner slider here* * * * * * * * *</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 style="color:black;">Contact 3 Squares</h2>
                <p style="color:black;">Feel free to email us to provide some feedback on our templates, give us
                    suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">info@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i
                                class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i
                                class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i
                                class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </footer>