{{> nav }}
<div id="registration-container" class="container-fluid">
	<section class="container">
		<div class="container-page">
			<div class="col-md-6">
				<h3 class="dark-grey">Registration</h3>

				<div id="name-form" class="form-group col-lg-6">
					<label>First Name</label>
					<input type="text" name="" class="form-control" id="first-name-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="name-form" class="form-group col-lg-6">
					<label>Last Name</label>
					<input type="text" name="" class="form-control" id="last-name-input" value="">
					<small id="username-feedback" class=""></small>
				</div>
		
				<div id="email-form" class="form-group col-lg-4">
					<label>Email Address</label>
					<input type="email" name="" class="form-control" id="email-input" value="">
					<p id="email-feedback" class=""></p>
					<small id="email-additional-feedback" class="form-text text-muted"></small>
				</div>

				<div id="password-form" class="form-group col-lg-4">
					<label>Password</label>
					<input type="password" name="" class="form-control" id="password-input" value="">
					<small id="password-feedback" class=""></small>
				</div>

				<div id="repeat-password-form" class="form-group col-lg-4">
					<label>Repeat Password</label>
					<input type="password" name="" class="form-control" id="repeat-password-input" value="">
					<small id="repeat-password-feedback" class=""></small>
				</div>

				<div id="address-form" class="form-group col-lg-12">
					<label>Adddress</label>
					<input type="text" name="" class="form-control" id="address-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="name-form" class="form-group col-lg-4">
					<label>Phone</label>
					<input type="text" name="" class="form-control" id="phone-input" value="">
					<small id="username-feedback" class=""></small>
				</div>
				<div id="name-form" class="form-group col-lg-4">
					<label>Employment Situation</label>
					<input type="text" name="" class="form-control" id="employed-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				{{!-- <div id="address-form" class="form-group col-lg-7" style="margin-top:20px;">
					<input type="checkbox" class="checkbox" />Provide Food for Distributor Pick-up Only
				</div> --}}
				<br>
				<div id="name-form" class="form-group col-lg-4">
					<label>Living Situation</label>
					<input type="text" name="" class="form-control" id="living-situation-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

			</div>

			<div class="col-md-6">
				<h3 class="dark-grey">Registration</h3>
				<p>
					Vendors role is to provide food to distributors or sell at a discount to local residents.
				</p>
				<p style="margin-top:12px;">
					This group of volunteers will be required to pick up food from local vendors.
				</p>
				<p style="margin-top:12px;margin-bottom:12px;">
					Our team of volunteers will verify that you are capable of storing food in a safe
					way and have the facilities capable of gathering food.
				</p>
				<p>
				</p>
				<p>
				</p>


				<button type="submit" class="btn btn-primary signup">Register</button>
			</div>
		</div>
	</section>
</div>