{{> nav }}
<div id="registration-container" class="container-fluid">
	<section class="container">
		<div class="container-page">
			<div class="col-md-6">
				<h3 class="dark-grey">Vendor Registration</h3>

				<div id="name-form" class="form-group col-lg-12">
					<label>Name of Business</label>
					<input type="text" name="" class="form-control" id="vendor-name-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="name-form" class="form-group col-lg-6">
					<label>Contact Name</label>
					<input type="text" name="" class="form-control" id="vendor-contact-name-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="name-form" class="form-group col-lg-6">
					<label>Phone</label>
					<input type="text" name="" class="form-control" id="vendor-phone-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="email-form" class="form-group col-lg-4">
					<label>Email Address</label>
					<input type="email" name="" class="form-control" id="vendor-email-input" value="">
					<p id="email-feedback" class=""></p>
					<small id="email-additional-feedback" class="form-text text-muted"></small>
				</div>

				<div id="password-form" class="form-group col-lg-4">
					<label>Password</label>
					<input type="password" name="" class="form-control" id="password-input" value="">
					<small id="password-feedback" class=""></small>
				</div>

				<div id="repeat-password-form" class="form-group col-lg-4">
					<label>Repeat Password</label>
					<input type="password" name="" class="form-control" id="repeat-password-input" value="">
					<small id="repeat-password-feedback" class=""></small>
				</div>

				<div id="address-form" class="form-group col-lg-12">
					<label>Business Adddress</label>
					<input type="text" name="" class="form-control" id="vendor-address-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="name-form" class="form-group col-lg-6">
					<label>Business Website URL</label>
					<input type="text" name="" class="form-control" id="vendor-website-url-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="name-form" class="form-group col-lg-6">
					<label>Distributor Only (*See Below)</label>
					<input type="text" name="" class="form-control" id="distributor-only-input" value="Yes or No">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="name-form" class="form-group col-lg-4">
					<label>Best Pick-Up Time</label>
					<input type="text" name="" class="form-control" id="pickup-time-input" value="">
					<small id="username-feedback" class=""></small>
				</div>

				<div id="name-form" class="form-group col-lg-4">
					<label>Pick-Up Area</label>
					<input type="text" name="" class="form-control" id="pickup-area-input" value="">
					<small id="username-feedback" class=""></small>
				</div>
				<div id="name-form" class="form-group col-lg-4">
					<label>Pick-Up Location</label>
					<input type="text" name="" class="form-control" id="pickup-location-input" value="">
					<small id="username-feedback" class=""></small>
				</div>
				<div>
					<b>*Distributor Only</b> if you only plan to provide food for pick-up from one of our verified
					vendors enter "YES". Otherwise you will also be selling food direct to our users at a discounted
					price.
				</div>
				{{!-- <div id="address-form" class="form-group col-lg-7">
					<input type="checkbox" class="checkbox" />Provide Food for Distributor Pick-up Only
				</div> --}}
			</div>

			<div class="col-md-6">
				<h3 class="dark-grey">Vendor Registration</h3>
				<p>
					Vendors role is to provide food to distributors or sell at a discount to local
					residents/individuals.
				</p>
				<p style="margin-top:12px;">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur malesuada enim vel
					vestibulum. Nam fermentum auctor nisl, in eleifend ligula vulputate condimentum. Fusce quis tempor.
				</p>
				<p style="margin-top:12px;margin-bottom:12px;">
					Aliquam at lectus quam. Sed quis malesuada velit. Aliquam pretium posuere sollicitudin. Cras
					lobortis justo eget pellentesque lobortis.
				</p>

				<button type="submit" class="btn btn-primary signupvendor">Register</button>
			</div>
		</div>
	</section>
</div>